gp/.DS_Store
gp/node_modules/
gp/dist/
server/node_modules/
server/dist/
server/excel/
gp/npm-debug.log*
gp/yarn-debug.log*
gp/yarn-error.log*
package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
.project


# Test files
gp/demo.html
